.speech {
   font-family: 'Times New Roman', Times, serif;
   font-size: 20px;
   color: black;
}
.direction{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: black;
    background-color: beige;
    
}
.direction:hover{
    background-color: lightcoral;
        color: brown;
}

.TESMAN{
    color: aquamarine;
    
}
.ELVSTED {
    color: violet;

}
.HEDDA{
    color: yellowgreen;

}


.table{
    border: black;
    color: brown;
    text-align: center;
    padding: 2%;
    margin-left: 25%;
}
.HEDDA:hover{
    box-shadow:10px 10px 20px rgba(0, 255, 0, 0.7); 
    border: 2px solid black;
        
}
.ELVSTED:hover{
    box-shadow:10px 10px 20px rgba(0, 255, 0, 0.7); 
    border:2px solid green;
    text-shadow: 2px 3px 5px rgb(237, 7, 222)
}
.TESMAN:hover{
    box-shadow:10px 10px 20px rgba(0, 255, 0, 0.7); 
    border: 2px solid black;
    text-shadow: 2px 3px 5px violet;
}
.table th{
    color: black;
    background-color: rgb(170, 106, 181);
}


.navbar{
    margin: 0;
    padding: 0;
    
    
}
.navbar li {
    float:left; 
    color:#000;
    background-color:purple;
}
.navbar a {
    display:block;
    padding: 25px;
}

    


