.speech {
   font-family: 'Times New Roman', Times, serif;
   font-size: 20px;
   color: black;
}
.direction{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: black;
    background-color: beige;
    
}
.direction:hover{
    background-color: lightcoral;
        color: brown;
}

.TESMAN{
    color: aquamarine;
    
}
.ELVSTED {
    color: violet;

}
.HEDDA{
    color: yellowgreen;

}


.table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100px;
    border: 1px solid #ddd;
    margin: auto;
    
}
.HEDDA:hover{
    filter: blur(1px);
    box-shadow:10px 10px 20px rgba(0, 255, 0, 0.7); 
    border: 2px solid black;
        
}
.ELVSTED:hover{
    filter: blur(1px);
    box-shadow:10px 10px 20px rgba(0, 255, 0, 0.7); 
    border:2px solid green;
    text-shadow: 2px 3px 5px rgb(237, 7, 222)
}
.TESMAN:hover{
    filter: blur(1px);
    box-shadow:10px 10px 20px rgba(0, 255, 0, 0.7); 
    border: 2px solid black;
    text-shadow: 2px 3px 5px violet;
}
.table th{
    margin: auto;
    text-align: left;
    padding: 16px;
    background-color: rgb(170, 106, 181);
}
.table tr:nth-child(even){
    background-color: #f2f2f2;
}


.navbar{
    padding: 15px;
    float: left;
    margin: 0;
    padding: 0;
    color: black;
    display: block;
    
    
}
.navbar li {
    float:left; 
    
}
.navbar li a {
    display:block;
    padding: 25px;
    text-align: center;
    padding: 16px 18px;
    color: black;
    text-decoration: none;
}
.navbar ul {
    list-style-type: none;
   margin: 0%;
   padding: 0px; 
    overflow: hidden;
    background-color:rgb(255, 172, 172);
}
.btn {
    background-color: light-green;
    padding: 12px 16px;
    font-size: 16px;
}

.btn:hover {
    background-color: green;
}